.login_img_section_2 {
    background: linear-gradient(rgba(2, 2, 2, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://smartlux.com.pl/wp-content/uploads/2021/06/technologia-smart-home-2-1080x675.jpg)
    center center;
}
.login_img_section {
    background: linear-gradient(rgba(2, 2, 2, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://cdn.sforum.vn/sforum/wp-content/uploads/2021/08/1-11.jpg)
    center center;
}
